DEBUG=True
SECRET_KEY=lumo-os-super-secret-dev-key-change-in-production
ALLOWED_HOSTS=*

# Database (PostgreSQL)
DATABASE_URL=postgres://postgres:postgres@localhost:5432/lumo_os

# Redis (For Cache, Limits, and Celery Broker)
REDIS_URL=redis://127.0.0.1:6379/1

CLOUDFLARE_API_TOKEN=e62a87656aa05d6d08ea3a7db98cf30b
CLOUDFLARE_ZONE_ID=6d8ffc943c5612253da8ced0130f7ad8